*{
    margin: 0;
    padding: 0;
}
body{
    /* following are the body properties and their value */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    color: grey;
}
/* the below are navbar properties and their values */
main{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.icon img{
    width: 268px;
    height: 33px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 11.5rem;
    margin-right: 12.5rem;
}
ul{
    list-style: none;
    font-size: 16px;
    display: flex;
    float: right;
    margin-top: 0.5rem;
}
li{
    display: flex;
    gap: 1rem;
}
/* below are the properties for the first to seventh sections properties and value */
/* first section */
.first img{
    width: 40px;
    height: 40px;
}
.first{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.head{
    margin-top: 24px;
    margin-bottom: 35px;
    font-size: 31px;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    padding-right: 45px;
    padding-left: 40px;
    height: 50px;
    color: #00b39b;
}
.we{
    display: flex;
    padding-left: 40px;
    padding-right: 75px;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: justify;
    font-size: 16px;
    margin-left: 13.6rem;
    margin-right: 13.3rem;
    line-height: 1.4;
}
/* second section */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin-left: 11.5rem;
    margin-right: 12rem;
    margin-bottom: 1rem;
    gap: 2rem;
}
#second p, img, select{
    font-size: 21px;
    padding-left: 2.5rem;
    padding-right: 2rem;
    padding-top: 1rem;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
#second .title{
    font-size: 34px;
}
#second img{
    width: 25px;
    height: 25px;
    margin-top: 2rem;
}
.box-one{
    background-color: #00ccb1;
    border-radius: 12px;
}
.box-one select{
    background-color: #00ccb1;
}
.box-two{
    background-color: #3D83DF;
    border-radius: 12px;
}
.box-two select{
    background-color: #3D83DF;
}
.box-three{
    background-color: #1B2734;
    border-radius: 12px;
}
.box-three select{
    background-color: #1B2734;
    margin-top: 2rem;
}
select{
    padding: 0px;
    border-radius: 5px;
    margin-left: 2.5rem;
    margin-top: 6rem;
    border: none;
    margin-bottom: 1rem;
    text-decoration: underline;
}
/* third section */
.tenlogo{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    row-gap: 2rem;
}
#third img{
    height: 0.8rem;
    width: 5rem;
}
.third p{
    font-size: 1.4rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-top: 1rem;
    color: #00b39b;
}
.third{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 16.3rem;
    margin-right: 22rem;
    margin-bottom: 3rem;
    gap: 5rem;
}
/* fourth section */
.fourth{
    display: flex;
    font-family: 'Work Sans', sans-serif;
    background-color: #d0faf4;
}
.one-one{
    padding-left: 9rem;
}
.one-one h2{
    font-weight: 300;
    margin-top: 5rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.one-one p{
    font-size: 15px;
    
}
.one-two img{
    width: 450px;
    height: 330px;
    margin-top: 2em;
    margin-left: 4em;
}
.two{
    display: flex;
    text-align: center;
    gap: 3rem;
    padding-right: 6rem;
    padding-left: 8em;
}
.two-one{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 230px;
    height: 400px;
    margin-top: 4.5em;
}
.two-two{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 230px;
    height: 400px;
    margin-top: 3em;
}
.count{
    background-color: white;
    padding-bottom: 2.5rem;
    padding-left: 1em;
    padding-right: 1em;
    
}
.pat{
    background-color: white;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.visit{
    background-color: white;
    padding-bottom: 4rem;
}
.doc{
    background-color: white;
    padding-bottom: 3.5rem;
}
.two h3{
    font-size: 1.8em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    padding-top: 1rem;
}
.two p{
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.5rem;   
}
.count img{
    width: 25px;
    height: 29px;
    padding-top: 2rem;
}
.pat img{
    width: 25px;
    height: 20px;
    padding-top: 3rem;
}
.two-two img{
    width: 25px;
    height: 25px;
    padding-top: 2.5em;
}
/* fifth section */
.fifth {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 6rem;
}
.fifth h3{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    color: #00b39b;
    font-weight: 300;
}
.fifth p{
    margin: 1.6em 0;
    line-height: 1.7;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 30em;
    padding-right: 30em;
}
/* sixth section */
.sixth{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin-top: 8.5rem;
    width: 0em;
    gap: 0.7em;
    margin-left: 12.5rem;
}
.sixth img{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -1.5rem;
}
.sixth .button{
    display: flex;
    margin-top: 1.3em;
    margin-left: 2em;
    margin-bottom: 1em;
    width: 18em;
    height: 2.3em;
    font-family: 'Roboto', sans-serif;
}
.sixth p{
    font-size: 1.2em;
    font-weight: 400;
}
.btn{
    background-color: #3D83DF;
    font-size: 0.7em;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 0.5em;
    border: none;
    font-weight: 700;
    height: 3.5em;
    color: white;
}
.war{
    margin-right: 5.5em; 
}
.barce{
    margin-right: 4.9em;
}
.muni{
    margin-right: 6em;
}
.insta{
    margin-right: 5.8em;
}
.rom{
    margin-right: 6.8em;
}
.bolog{
    margin-right: 5.6em;
}
.curit{
    margin-right: 5.9em;
}
.riode{
    margin-right: 3em;
}
.mex{
    margin-right: 4.2em;
}
/* seventh section */
.seventh{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}
.seventh h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 2.2em;
    font-weight: 300;
    color: #333;
    text-align: center;
}
.seventh .btn{
    margin-left: 45em;
    margin-top: 1.5em;
    margin-bottom: 6em;
    width: 14rem;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04em;
    background-color: #3D83DF;
    padding: 0.8em;
    padding-bottom: 1em;
    border-radius: 0.3em;
    border: none;
    font-weight: 700;
    height: 3.2em;
    color: white;
}
/* footer properties and values */
.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    opacity: 0.8;
}
.lead{
    margin-bottom: 2em;
}
.last{
    margin-bottom: 2em;
}